body {
  width: 100%;
  height: 100%;
  margin: 0;
}
/* Update the header to align text to the center */
header h1 {
  text-align: center;
}

/* Center the image */
#featured-property img {
  display: block;
  margin: auto;
}

/* Style and center navigation links */
nav a {
  padding: 10px;
  background-color: grey;
  display: inline-block; /* Make sure links are centered by making them inline blocks */
}

nav {
  text-align: center; /* Center the navigation links */
}

/* Update image caption */
#featured-property figcaption {
  font-size: smaller;
  text-align: center;
}

/* Update the text block */
#featured-property p {
  width: 800px;
  margin: auto;
  text-align: center;
}

/* Make the #details section horizontal */
#details div {
  float: left;
  width: 25%;
  background-color: #f2f2f2; /* Example color, change as you like */
  text-align: center;
}

/* Clear floats after the #details section */
#details:after {
  content: "";
  display: table;
  clear: both;
}
